---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Terms and conditions";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
</BaseLayout>
