---
---

<nav class="flex justify-center">
  <a
    href="#"
    class="px-4 text-lg font-semibold leading-tight hover:text-gray-800 transition duration-150 ease-in-out"
  >
    Home
  </a>
  <a
    href="#"
    class="px-4 text-lg font-semibold leading-tight hover:text-gray-800 transition duration-150 ease-in-out"
  >
    Use Cases
  </a>
  <a
    href="#"
    class="text-lg font-semibold leading-tight hover:text-gray-800 transition duration-150 ease-in-out"
  >
    Blog
  </a>
</nav>
